.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9rem;
    padding:0 5rem;
    margin-top: 2rem;
    /* border: 2px solid black; */
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 5rem;
    /* border: 2px solid black; */
}


.header-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(113, 178, 23);
    width: 25%;
    /* border: 2px solid rgb(113, 178, 23); */
}


.header-logo span img{
    width: 150px;

}

.header-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 3rem;
    /* border: 2px solid rgb(113, 178, 23); */
}

.search-input {
    width: 66.66%;
    height: 100%;
    padding: 0.5rem;
    align-items: center;
    border: 2px solid rgb(226, 224, 224);
}

.search-input input{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.search-category{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(226, 224, 224);
}

.search-category p{
    text-align: center;
}

.search-icon{
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid rgb(226, 224, 224);
}

.header-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    padding: 0 2rem;
    font-size: 20px;
}

.header-icons span:hover{
    color: rgb(113, 178, 23);
    cursor: pointer;
}

.login-register{
    font-size: 14px;
}

.login-register a{
    color: #000;
    text-decoration: none;
}


.header-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 3rem;
    border-top: 2px solid rgb(226, 224, 224);
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    /* border: 2px solid rgb(113, 178, 23); */
}

.header-category{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    color: rgb(113, 178, 23);
    margin-left: 2rem;
    background-color: rgb(113, 178, 23);
    color: #000;
    padding-left: 1rem;
}

.three-line{
    font-size: 24px;
    margin-right: 1rem;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    /* border: 2px solid rgb(113, 178, 23); */
}

.header-nav nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-nav nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin: 0;
}


.header-nav nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 0.5rem 1rem;
}

.header-offers{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;
    height: 100%;
    font-size: 14px;
    color: rgb(113, 178, 23);
    /* margin:1rem 0; */
    /* padding-right: 0 8rem; */
    /* border: 2px solid rgb(113, 178, 23); */
}

.header-offers div p{
    margin:0 1rem;
    padding: 0;
}